@page "/sitemap"

@inject NavigationManager Nav

<h1>Sitemap</h1>

<p>This page lists important pages on the site.</p>

<ul>
    <li><a href="@Nav.BaseUri">Home</a></li>
    <li><a href="@($"{Nav.BaseUri}guide/installation")">Installation</a></li>
    <li><a href="@($"{Nav.BaseUri}guide/update")">Update</a></li>
    <li><a href="@($"{Nav.BaseUri}about")">About</a></li>
    <li><a href="@($"{Nav.BaseUri}tags")">Tags</a></li>
</ul>

<p>For search engines, a machine-readable sitemap is available at <a href="/sitemap.xml">/sitemap.xml</a>.</p>
